#Data Type and Structure question
Q1)What are data structures, and why are they important?
Ans:Data structures are specialized formats for organizing, storing, and managing data in a computer so that it can be accessed and modified efficiently.
Data structures are important because they:

a)Improve efficiency:
They help in writing optimized code by reducing time and space complexity.

b)Help manage large data:
In real-world applications (like databases, search engines, and operating systems), large amounts of data need to be managed efficiently.

c)Enable faster algorithms:
Choosing the right data structure can make a huge difference in how fast an algorithm runs (e.g., searching with a Binary Search Tree vs. a List).

d)Form the foundation of programming:
All major programming problems involve manipulating data. Data structures provide the foundation for solving these problems logically.

Q2)Explain the difference between mutable and immutable data types with examples.
Ans:mutability refers to whether or not the value of an object can be changed after it is created.
Mutable Data Types
These can be changed after creation.
You can add, remove, or update elements without changing the object’s identity.

Examples:

list, dict, set.

In [ ]:
my_list = [1, 2, 3]
print(id(my_list))

my_list.append(4)
print(my_list)
print(id(my_list))

Immutable Data Types
These cannot be changed once created.
Any "change" creates a new object in memory.

Examples:

int,
float,
str,
tuple,
bool.

In [ ]:
x = "hello"
print(id(x))

x = x + " world"
print(x)
print(id(x))

3)What are the main differences between lists and tuples in Python?
Ans:In Python, the main difference between lists and tuples lies in their mutability. Lists are mutable, meaning their contents can be changed after creation—you can add, remove, or modify elements. In contrast, tuples are immutable, so once they are created, their elements cannot be altered. Lists are defined using square brackets [], while tuples use parentheses (). Because of their mutability, lists are generally slower and consume more memory than tuples. Tuples, being immutable, are faster and more memory-efficient, making them suitable for storing constant data. Additionally, only tuples (not lists) can be used as keys in dictionaries if all their elements are immutable. In practice, you should use a list when the data might change, and a tuple when the data should remain fixed.

Q4)Describe how dictionaries store data.
Ans:Dictionaries store data as key- value pairs, using a hash table under the hood. Here's how it works:

A dictionary is written using curly braces {}, with each item in the form:

In [ ]:
my_dict = {"name": "Kaif", "age": 20, "city": "Siwan"}

Q5)Why might you use a set instead of a list in Python?

Ans:1. Uniqueness
Sets automatically remove duplicates

In [ ]:
my_list = [1, 2, 2, 3]
my_set = set(my_list)
print(my_set)

2. Set Operations
Sets support operations like:

Union (|)
Intersection (&)
Difference (-)
Symmetric difference (^)

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a & b)

3. Better for Mathematical Logic
If you're working with collections in a mathematical context (like Venn diagrams or logic), sets are the natural choice.

Q6)What is a string in Python, and how is it different from a list?
Ans:A string in Python is a sequence of characters enclosed in quotes (single ', double ", or triple quotes '''/""").It’s immutable, meaning once created, it cannot be changed.
String	List
Data Type	Sequence of characters	Sequence of any data types
Mutability	Immutable (cannot be changed)	Mutable (can be changed)
Syntax	Enclosed in quotes " " or ' '	Enclosed in square brackets [ ]
Element Type	Only characters	Can be mixed: int, str, float, etc.
Indexing/Slicing	Supported	Supported
Methods	String-specific methods (.upper(), .find())	List-specific methods (.append(), .sort())
Example	"apple"	['a', 'p', 'p', 'l', 'e']

7. How do tuples ensure data integrity in Python?
Ans:Tuples in Python ensure data integrity mainly because they are immutable.

8. What is a hash table, and how does it relate to dictionaries in Python?
Ans:A hash table is a data structure that stores data using key-value pairs, and allows very fast access to values based on their keys — typically in O(1) time.

It uses a technique called hashing:

A hash function converts the key (like "name") into a hash value (a number).
This number determines the index where the value is stored in memory.
When you access the key later, the same hash is used to find and return the value.

Q9) Can lists contain different data types in Python?
Ans:Python lists are heterogeneous, meaning they can hold elements of different types in the same list.

In [ ]:
my_list = [42, "hello", 3.14, True, [1, 2], {"a": 1}]
print(my_list)

Q10) Explain why strings are immutable in Python.
Ans:Strings in Python are immutable because once created, they cannot be changed.
This design choice is intentional and offers several benefits in terms of performance, security, and reliability.

Q11)What advantages do dictionaries offer over lists for certain tasks?
Ans:Dictionaries and lists are both important data structures, but dictionaries offer key advantages for certain tasks—especially when you need fast lookups or key-value pairing.

1. Faster Lookups (O(1) Time)
Dictionaries use a hash table, so retrieving a value by key is much faster than searching through a list.

2. Key-Value Pairing
Dictionaries store data as key-value pairs, making it easy to model real-world data like:

Student records
Configuration settings
JSON data

3. No Need to Remember Indexes
With dictionaries, you access data using meaningful keys instead of numeric indexes.

4. Avoids Duplicates in Keys
Dictionaries automatically prevent duplicate keys, ensuring unique identifiers for each item.

Q12)Describe a scenario where using a tuple would be preferable over a list.
Ans:Scenario:
Suppose you're building a program that stores geographical coordinates (latitude and longitude) of cities. You want to make sure that once a coordinate is set for a city, it cannot be accidentally changed.

In this case, using a tuple is preferable over a list.

example

In [ ]:
city_coordinates = ("Delhi", (28.6139, 77.2090))

Q13) How do sets handle duplicate values in Python?
Ans:sets automatically eliminate duplicate values.

Key behavior:
A set cannot contain duplicate elements.
If you try to add duplicates, Python will store only one copy.

In [ ]:
my_set = {1, 2, 2, 3, 4, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

Q14). How does the "in" keyword work differently for lists and dictionaries?
Ans:The in keyword in Python is used to check membership, but it behaves differently for lists and dictionaries.

For Lists:
Checks if a value exists in the list.

In [ ]:
my_list = [10, 20, 30]
print(20 in my_list)
print(40 in my_list)

Q15)Can you modify the elements of a tuple? Explain why or why not.
Ans:No, you cannot modify the elements of a tuple in Python.
Reason:
Tuples are immutable, which means once they are created, their elements cannot be changed, added, or removed.
Why tuples are immutable:
Immutability makes data safe from accidental changes.
Tuples can be used as keys in dictionaries or elements in sets (lists can't).
Improves performance and allows for hashing.

In [ ]:
my_tuple = (10, 20, 30)
my_tuple[0] = 100

Q16)What is a nested dictionary, and give an example of its use case?
Ans:A nested dictionary is a dictionary that contains another dictionary as a value within it. In other words, the value associated with a key in a dictionary can itself be a dictionary.

Use Case Example: Student Records
Imagine you are storing information about multiple students, where each student has their own details like name, age, and marks. You can use a nested dictionary for this:

In [ ]:
students = {
    "101": {"name": "Amit", "age": 20, "marks": 85},
    "102": {"name": "Sana", "age": 19, "marks": 92},
    "103": {"name": "Raj", "age": 21, "marks": 78}
}

In [ ]:
print(students["102"]["name"])
print(students["101"]["marks"])

Sana
85

Q17) Describe the time complexity of accessing elements in a dictionary.
Ans:ictionaries are implemented using hash tables. Because of this, accessing elements in a dictionary by key has an average-case time complexity of:

O(1) (constant time)
This means that retrieving a value using its key (e.g., my_dict["key"]) usually takes the same amount of time, regardless of the size of the dictionary.

Worst-case time complexity: O(n)
This can happen in rare situations due to hash collisions, where many keys hash to the same index. Python handles this with techniques like open addressing or chaining, but in extreme cases (like a poorly designed hash function or deliberate attack), performance may degrade.

Q18)In what situations are lists preferred over dictionaries?
Ans:Lists are preferred over dictionaries in the following situations:

1. When the order of elements matters
Lists maintain insertion order and allow indexed access (e.g., my_list[0]).
Useful when you need to process elements sequentially or preserve the order of data.
Example: Storing a sequence of student marks:

2. When you don't need key-value pairs
If your data doesn't require meaningful labels (keys), a list is simpler and more appropriate.
Example: List of fruits:

3. When memory efficiency is important
Lists use less memory than dictionaries because they store only values, not keys.
Better for storing large amounts of homogeneous data.

In [ ]:
For numerical or positional data
Lists are ideal for arrays, matrices, queues, stacks, etc., where position/index is more important than key lookup.
Example: Implementing a stack

Q19)Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans:Originally, dictionaries in Python were considered unordered because they used hash tables, which store elements based on hash values of the keys — not the order in which they were inserted.

Before Python 3.7, the order of key-value pairs was not guaranteed.
So, iterating over a dictionary (e.g., in a for loop) could return items in any order, regardless of how you added them.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
Ans:Retrieval Method
Structure	How Data is Retrieved
List	By index (position) → my_list[0]
Dictionary	By key (label) → my_dict["name"]
Lists use integer indices starting from 0.
Dictionaries use unique keys (can be strings, numbers, etc.) to retrieve values.

2. Time Complexity
Operation	List	Dictionary
Access by index	O(1)	Not allowed
Access by key	 Not supported	O(1) (average)
Lists are efficient for index-based access.
Dictionaries are efficient for key-based lookups.

 3. Use Case
Structure	Use When...
List	You have ordered, sequential data.
Dictionary	You have named, labeled, or mapped data.

#practical questions

1. Write a code to create a string with your name and print it.

In [ ]:
name="kaif"
name

'kaif'

2. Write a code to find the length of the string "Hello World".

In [ ]:
greeting="Hello World"
len(greeting)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
text="Python Programming"
text[:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
text="hello"
text.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
sentance="i like apple"
sentance.replace("apple","orange")

'i like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list=[1,2,3,4,5]
list

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list [a, b,c,o].

In [ ]:
list=['a','b','c','o']
list[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

tuple

12. Write a code to access the second-to-last element of the tuple (red', 'green, 'blue', yellow').

In [ ]:
tuple=("red","gren","blue","yello")
tuple[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
number=(10,20,5,15)
minimum=min(number)
print(minimum)

5

14. Write a code to find the index of the element "cat" in the tuple (dog, 'cat, rabbit').

In [ ]:
Animal=("dog","cat","rabbit")
Animal.index("cat")

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits=("apple","mangi","kiwi")
if "kiwi" in fruits:
  print("yes kiwi is present in tuple")
else:
   print("no kiwi is not present in tuple")

yes kiwi is present in tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
char={'a','b','c'}
print(char)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
number={1,2,3,4,5}
number.clear()
print("set after clearing",number)

set after clearing set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
number={1,2,3,4}
number.remove(4)
print(number)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1={1,2,3}
set2={4,6,7}
set1|set2

{1, 2, 3, 4, 6, 7}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
num1={1,2,3}
num2={2,3,7}
num1 & num2

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person={"name":"kaif","age":20,"city":"delhi"}
print(person)

{'name': 'kaif', 'age': 20, 'city': 'delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name: John', age: 25}.

In [ ]:
dictionary={"name":"john","age":25,"country":"USA"}
dictionary

{'name': 'john', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name: 'Alice, 'age: 30}.

In [ ]:
dictionary={"name":"Alice","age":30}
dictionary["name"]

'Alice'

24. Write a code to remove the key "age" from the dictionary {name: 'Bob', 'age: 22, 'city: 'New York}.

In [ ]:
dictionary={"name":"Bob","age":22,"city":"New York"}
dictionary.pop("age")
print(dictionary)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name: 'Alice, city: Paris'}.

In [ ]:
dictionary={"name":"Alice","city":"Paris"}
if "city" in dictionary:
  print("yes city exist in dictionary ")
else:
  print("No city exist in dictionary ")

yes city exist in dictionary

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
My_list=[1,2,3,4]
My_tuple={"kaif","roshan","prince"}
My_dict={"Name":"kaif","Roll":12}
print("List:",My_list)
print("Tuple:",My_tuple)
print("Dictionary:",My_dict)

List: [1, 2, 3, 4]
Tuple: {'roshan', 'kaif', 'prince'}
Dictionary: {'Name': 'kaif', 'Roll': 12}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. (replaced)

In [ ]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted list:", random_numbers)

Sorted list: [18, 32, 41, 80, 80]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'mango', 'orange']
print("Element at index 3:", fruits[3])

Element at index 3: mango

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Mumbai', 'country': 'India'}
combined_dict = {**dict1, **dict2}
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Mumbai', 'country': 'India'}

30. Write a code to convert a list of strings into a set.

In [ ]:
string_list = ['apple', 'banana', 'cherry', 'apple', 'banana']
string_set = set(string_list)
print("Set:", string_set)

Set: {'cherry', 'banana', 'apple'}